[run]
branch = True
source = planetpy
include = */planetpy/*
omit =
    */setup.py
    */planetpy/external/*
parallel = true

[report]
exclude_lines =
    def __repr__
    if __name == .__main__.:
show_missing = true
precision = 2
