[run]
branch = True
source = planetarypy
include = */planetarypy/*
omit =
    */setup.py
    */planetarypy/external/*
parallel = true

[report]
exclude_lines =
    def __repr__
    if __name == .__main__.:
show_missing = true
precision = 2
